.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop .fade .in {
  opacity: 0.5 !important;
}


.modal-backdrop.fade {
  opacity: 0.5 !important;
}

.fade.in {
  opacity: 1;
}

.modal-backdrop.in {
  opacity: 0.5;
}

html, body {
  background-color: #f5f7f8;
  height: 100%;
}


@media screen and (max-width: 767px) {
  .tooltip-class {
    font-size: 10px;
    width: 100px;
  }
}