<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
        <img width="40" alt="RS Ventaja" src="../assets/rsventajalogo.png" />
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li>
                <a class="nav-link" href="#sobre">Sobre nós</a>
            </li>
            <li>
                <a class="nav-link" href="#produtos">Produtos</a>
            </li>
            <li>
                <a class="nav-link" href="#seguradoras">Seguradoras</a>
            </li>
            <li>
                <a class="nav-link" href="#contato">Contato</a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    <img alt="RS Ventaja" src="../assets/rsventajaheader.png" width="200" height="200">
</div>
<div class="content">
    <ngb-alert *ngIf="displayWrongAuth" (close)="closeAuth()">Usuário ou senha incorretos!</ngb-alert>
    <ngb-alert *ngIf="displayNotFilled" (close)="closeFilled()">Favor preencher todos os campos antes de prosseguir!
    </ngb-alert>
    <div class="center">
        <mat-progress-spinner *ngIf="authenticating" style="margin:0 auto;" class="example-margin" color="primary"
            mode="indeterminate">
        </mat-progress-spinner>
    </div>
    <form [formGroup]="signForm" style="text-align: center" (ngSubmit)="onSubmit(signForm)">
        <mat-form-field appearance="fill">
            <mat-label>Usuário</mat-label>
            <input matInput type="text" formControlName="user">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Senha</mat-label>
            <input type="password" matInput formControlName="password">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit">Entrar</button>

    </form>
</div>