<div fxLayout="column" fxLayoutAlign="center center">
    <nav class="navbar navbar-expand-lg">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="">Página Inicial</a>
                </li>
              </ul>
        </div>
    </nav>
    <div fxLayout="column" fxLayoutAlign="center center" class="jumbotron text-center">
        <img alt="RS Ventaja" src="../assets/rsventajaheader.png" width="200" height="200">
    </div>
</div>
<div class="content">
    <ngb-alert *ngIf="displayWrongAuth" (close)="closeAuth()">Usuário ou senha incorretos!</ngb-alert>
    <ngb-alert *ngIf="displayNotFilled" (close)="closeFilled()">Favor preencher todos os campos antes de prosseguir!
    </ngb-alert>
    <div class="center">
        <mat-progress-spinner *ngIf="authenticating" style="margin:0 auto;" class="example-margin" color="primary"
            mode="indeterminate">
        </mat-progress-spinner>
    </div>
    <form [formGroup]="signForm" style="text-align: center; font-size: 14px;" (ngSubmit)="onSubmit(signForm)">
        <mat-form-field appearance="outline">
            <mat-label>Usuário</mat-label>
            <input matInput type="text" formControlName="user">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input type="password" matInput formControlName="password">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit">Entrar</button>

    </form>
</div>