:host {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

li a:hover {
  background-color: #686968;
}

li {
  padding: 0.5em;
}

.navbar {
  font-size: 16px;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  display: flex;
  background-color: #4d4d4d;
  color: #c2c3c4;
}

.nav-link {
  color: #fff !important;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

.img-circle {
  border-radius: 30%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 9999;
}

.jumbotron {
  background-image: url("../../../assets/control-panel.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #3e4c51;
  color: #fff;
}

.container-fluid {
  padding: 60px 50px;
  width: 80%;
}

.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

.form-control {
  align-content: center;
  max-width: 100px;
}

@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

/* Responsive Styles */

@media screen and (max-width: 767px) {
  .card-container>*:not(.circle-link), .terminal {
    width: 100%;
  }
  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }
  .card.highlight-card span {
    margin-left: 72px;
  }
  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

.fade.in {
  opacity: 1;
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}